<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate >

    <!-- name -->
    <div class="mb-3">
      <label for="userName" class="form-label">Full Name</label>
      <input type="text" formControlName="name" class="form-control" id="userName"
        [class.is-invalid]="name!.invalid && name!.touched"
        aria-describedby="nameHelp" required />
      <small id="nameHelp" class="form-text">First and last name</small>
      <span class="text-danger"
        *ngIf="(name!.touched || submitted) && name!.errors?.required" >
        Name is required
      </span>
    </div>

    <!-- email -->
    <div class="mb-3">
      <label for="userEmail" class="form-label">Email Address</label>
      <input type="email" formControlName="email" class="form-control" id="userEmail"
        [class.is-invalid]="email!.invalid && email!.touched"
        name="email" aria-describedby="emailHelp" />
      <small id="emailHelp" class="form-text">example@site.com</small>
      <span class="text-danger"
        *ngIf="(email!.valid || submitted) && email!.errors?.required">
        Email is required
      </span>
      <span class="text-danger"
        *ngIf="(email!.valid || submitted) && email!.errors?.pattern">
        Email is invalid
      </span>
    </div>

    <!-- address -->
    <div class="mb-3">
      <label for="userAddress" class="form-label">Address</label>
      <input type="text" formControlName="address" class="form-control" id="userAddress"
        [class.is-invalid]="address!.invalid && address!.touched" name="address" />
      <span class="text-danger"
        *ngIf="(address!.touched || submitted) && address!.errors?.required" >
        Address is required
      </span>
    </div>

    <!-- city -->
    <div class="mb-3">
      <label for="userCity" class="form-label">City</label>
      <input type="text" formControlName="city" class="form-control" id="userCity"
        [class.is-invalid]="city!.invalid && city!.touched" name="city"  />
      <span class="text-danger"
        *ngIf="(city!.touched || submitted) && city!.errors?.required" >
        City is required
      </span>
    </div>

    <!-- phone -->
    <div class="mb-3">
      <label for="userPhone" class="form-label">Phone Number</label>
      <input type="tel" formControlName="phone" class="form-control" id="userPhone"
        [class.is-invalid]="phone!.invalid && phone!.touched" name="phone"
        aria-describedby="phoneHelp" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
      <small id="phoneHelp" class="form-text" >Format : 123-456-7890</small>
      <span class="text-danger"
        *ngIf="(phone!.valid || submitted) && phone!.errors?.required">
        Phone is required
      </span>
      <span class="text-danger"
        *ngIf="(phone!.valid || submitted) && phone!.errors?.pattern">
        Phone is invalid
      </span>
    </div>

    <!-- password -->
    <div class="mb-3">
      <label for="userPassword" class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" id="userPassword"
        [class.is-invalid]="password!.invalid && password!.touched" name="password"  />
      <span class="text-danger"
        *ngIf="(password!.touched || submitted) && password!.errors?.required" >
        Password is required
      </span>
    </div>

    <!-- confirm password-->
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control"
        [class.is-invalid]="confirmPassword!.invalid && confirmPassword!.touched"
        id="confirmPassword" name="confirmPassword"  />
      <span class="text-danger"
        *ngIf="(confirmPassword!.touched || submitted) && confirmPassword!.errors?.ConfirmPassword" >
        Passwords must match
      </span>
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>

<div *ngIf="submitted && registerForm.valid" class="container">
  <div>
    <p>Name : {{ user.name }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Address : {{ user.address }}</p>
    <p>City : {{ user.city }}</p>
    <p>Phone : {{ user.phone }}</p>
    <p>Password : {{ user.password }}</p>
    <p>Confirm Password : {{ registerForm.value.confirmPassword }}</p>
  </div>

</div>

