/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}
form {
  width: 40vw;
}

.btn-group {
  margin-top: 36px;
  display: flex;
  justify-content: center;
}

.text-danger {
  font-size: small;
}

.error-msg {
  color: #a94442;
}
.fix-error-icon {
  top: 27px;
}
